.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 544px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
