.photo-grid {
  max-width: calc(100% - 48px * 2);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1152px) {
  .photo-grid {
    gap: 14px
  }
}

@media screen and (max-width: 896px) {
  .photo-grid {
    max-width: calc(100% - 24px * 2);
    gap: 16px
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    max-width: calc(100% - 16px * 2);
    gap: 12px
  }
}
