.lead {
  /* max-width: calc(100% - 148px * 2); */
  /* margin: 0 auto; */
  padding: 0 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
}

/* @media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(100% - 48px * 2);
    padding-top: 48px;
  }
}
@media screen and (max-width: 640px) {
  .lead__subtitle { 
    font-size: 4.68vw;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
} */
