.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 1152px) {
  .cover__subtitle {
  }
}

@media screen and (max-width: 896px) {
  .cover__subtitle {
  }
}

@media screen and (max-width: 544px) {
  .cover__subtitle {
    max-width: calc(100% - 16px * 2);
    font-size: 14px;
    line-height: 1.14;
  }
}
