.header__logo {
  min-width: 176px;
  min-height: 52px;
  background-image: url(../../../images/header-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* @media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
} */
