.header__logo {
  min-width: 176px;
  min-height: 52px;
  background-image: url(../../../images/header-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 544px) {
  .header__logo {
    min-width: 142px;
    min-height: 42px;
  }
}
