.header {
  max-width: calc(100% - 48px * 2);
  margin: 0 auto;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 1152px) {
  .header {
  }
}

@media screen and (max-width: 896px) {
  .header {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 544px) {
  .header {
    max-width: calc(100% - 16px * 2);
  }
}
