.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 1.63; */
  line-height: 1.63;
}

@media screen and (max-width: 1152px) {
  .place__paragraph {
  }
}

@media screen and (max-width: 896px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .place__paragraph {
  }
}
