.lead__subtitle {
  margin: 0 0 64px;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1152px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    max-width: calc(100% - 24px * 2);
    font-size: 4.68vw;
  }
}

@media screen and (max-width: 544px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: calc(100% - 16px * 2);
    line-height: 1.25;
    margin-bottom: 40px;
  }
}
