.place {
  display: grid;
  grid-template-columns: minmax(320px, 460px) 1fr;
  grid-template-areas: "title website" "image text";
  gap: 48px 40px;
  color: #FFFFFF;
}

@media screen and (max-width: 1152px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 896px) {
  .place {
    grid-template-columns: minmax(320px, 340px) 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    grid-template-areas: "title" "website" "image" "text";
    gap: 32px 0;
  }
}
